<header>
      <!-- nav bar header -->
    <nav class="top ctm-nav">
        <!--  <div class="container">
        <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">WebStieName</a>
        </div>
       <div class="collapse navbar-collapse" id="myNavbar">-->
         <ul class="menu">
            <li class="dropdown">
                <a href="#">
                    <img class="logo" src="img/logo.jpg">
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Section 2</a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Section 3</a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Section 4</a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Section 5</a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Section 6</a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Section 7</a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Section 8</a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Section 9</a>
            </li>
         </ul>
  </nav>
</header>
<main>
    <div class="main-img">
        <div class="container">
            <div class="row">
               <div class="col-sm-4">
                <!-- searchBox component -->
                <search-box></search-box>
               </div>
            </div>
        </div>
    </div>
</main>
<footer class="text-center">
  <div>
     <p class="social-icon">
       <a class="fa fa-facebook-official" href=" " target="_blank"></a>
     </p>
  </div>
<p>Copyright &copy; 2017- Yachts Store</p>
<p>Todos los derechos reservados</p>
</footer>